<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xks.mapper.RateMapper">

    <resultMap type="com.xks.entity.Rate" id="RateMap">
        <result property="time" column="time" jdbcType="TIMESTAMP"/>
        <result property="chapter" column="chapter" jdbcType="VARCHAR"/>
        <result property="qNum" column="q_num" jdbcType="INTEGER"/>
        <result property="errorNum" column="error_num" jdbcType="INTEGER"/>
        <result property="correctRate" column="correct_rate" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryAllRateInfo" resultMap="RateMap">
        select
          *
        from rate
    </select>


</mapper>

